{% extends "layout.html" %}

{% block title %}
Flimsy Timer
{% endblock %}

{% block head %}
<span id='userId' class='hidden'>45qe8I8DEwEdOlG73T4p</span>

<script src='{{ url_for("static", filename="js/timer.js") }}' defer></script>
{% endblock %}


{% block content %}

<h1 class='font-extrabold text-3xl text-center py-4 text-white subpixel-antialiased'>Flimsy Timer</h1>
<img src='{{ url_for("static", filename="flimsy_timer_big.png") }}' class='mx-auto mt-1 mb-8 h-8 subpixel-antialiased'
    alt='timer'>

<p id='scramble' class='mt-6 text-white font-bold text-xl font-mono text-center'>{{ scramble }}</p>


<div class='mt-8 text-white'>
    <h1 id='timer' class='mt-8 text-9xl text-center subpixel-antialiased font-extrabold'>0.00
    </h1>
</div>

<div id='buttonsWrapper' class='mt-4 text-center hidden'>
    <button id=plusTwo
        class="w-16 bg-neutral-900 hover:bg-neutral-700 rounded-md text-center align-middle text-white transition-all duration-200 mx-2 font-mono text-sm font-semibold"
        title="Sets solve as +2">+2</button>

    <button id=dnf
        class="w-16 bg-neutral-900 hover:bg-neutral-700 rounded-md text-center align-middle text-white transition-all duration-200 mx-2 font-mono text-sm font-semibold"
        title='Sets solve as DNF'>DNF</button>
</div>
{% endblock %}