<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block head %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico')}}">
    <link rel='stylesheet' href='{{ url_for("static", filename="css/main.css") }}'>
</head>

<body>

    <nav class='shadow-md shadow-sky-500/50'>
        <div class='container w-screen h-1/6 flex justify-between bg-sky-500 shadow-md shadow-bg-sky-500/50 rounded-b'>

            <div class='flex align-middle'>
                <img src='{{ url_for("static", filename="flimsy_timer_big.png") }}'
                    class='ml-2 mt-6 mb-8 h-8 subpixel-antialiased align-middle'>

                <a href='{{ url_for("index") }} '
                    class='hover:-translate-y-1 ease-in-out duration-100 transition-all ml-2 mt-6 text-2xl text-slate-900 justify-end font-extrabold subpixel-antialiased'>Flimsy
                    Timer</a>
            </div>

            <div class='flex flex-row items-center gap-6 mr-4 justify-end content-between'>
                <a href=#
                    class='font-semibold text-slate-900 hover:bg-slate-900 hover:rounded-full hover:p-1.5 hover:text-white transition-all ease-in-out delay-75 duration-150'>Account</a>
                <a href=#
                    class='font-semibold text-slate-900 hover:bg-slate-900 hover:rounded-full hover:p-1.5 hover:text-white transition-all ease-in-out delay-75 duration-150'>Solves</a>
                <a href=#
                    class='font-semibold text-slate-900 hover:bg-red-500 hover:rounded-full hover:p-1.5 hover:text-white transition-all ease-in-out delay-75 duration-150'>Log
                    Out</a>


            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>