{% extends "layout.html" %}
{% block title %}
Flimsy Timer | Solve by {{ owner.username }}
{% endblock %}

{% block head %}
<script src="https://cdn.cubing.net/js/scramble-display" type="module"></script>
{% endblock %}

{% block content %}
<div class="container overflow-hidden flex flex-col items-center w-screen content-center gap-4 justify-betweeen mt-8">
    <div class='items-center content-center w-fit h-max p-2 bg-white rounded shadow'>

        <h1 class='mb-4 class italic text-md subpixel-antialiased'>Solve by <strong>{{ owner.username.upper()
                }}</strong></h1>
        <h1 class='text-3xl font-extrabold subpixel-antialiased text-neutral-900'>{{ solve.solve_time }}</h1>
        <p class='text-sm italic subpixel-antialiased text-gray-700'>{{ solve.date.humanize() }}</p>


        {% if solve.puzzle == '333' %}
        <p class='select-none my-2 font-mono font-bold w-fit h-fit text-md text-white bg-neutral-900 px-3 rounded-full'>
            3x3</p>
        {% endif %}

        <p class='break-normal flex-nowrap mt-1 font-mono font-bold text-md text-neutral-900'>{{solve.scramble }}
        </p>

        <scramble-display class='mt-6' scramble="{{ solve.scramble }}"></scramble-display>
    </div>
</div>
{% endblock %}