{% extends "layout.html" %}
{% block title %}
Flimsy Timer | Solves
{% endblock %}

{% block head %}
<script src='{{url_for("static", filename= "js/loadSolves.js")}}' defer></script>
{% endblock %}

{% block content %}
<div id='wrapper'>
    <div class="container flex flex-col items-center w-screen content-center gap-4 justify-betweeen mt-8 ml-4">
        <div class='break-normal flex hover:cursor-pointer content-center w-fit h-max bg-white rounded shadow'>

            <div class='w-4/5 h-fit items-center p-2 '>
                <h1 class='animate-pulse blur text-3xl font-extrabold subpixel-antialiased text-neutral-900'>00.00</h1>

                <div
                    class='blur animate-pulse mt-1 font-mono font-bold w-fit h-fit text-md text-white bg-neutral-900 px-3 rounded-full'>
                    3x3
                </div>

                <div
                    class='break-normal w-80 h-8 animate-pulse blur flex-nowrap mt-1 font-mono font-bold text-md bg-neutral-900'>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}